.cardslink{
    text-decoration: none;
    color: #212529;
}

/* API */

.api{
    height: 120%;
}


/* Local */

.icon{
    height: 50px;
}

.icon2{
    height: 70px;
}

.icon3{
    height: 50px;
    margin: 5px;
}

.iconReact{
    height: 50px;
    color: blue;
}

.txt-cont{
    margin: 0 auto;
    padding-bottom: 50px;
}



/* Web */

.web{
    padding: 20px;
}

.proyecto{
    width: 1000px;
    height: 500px;
}

